@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.filter-menu {
  width: 90%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}
.ant-menu-submenu.ant-menu-submenu-inline {
  min-height: 58px;
  margin: 0;
}
.ant-menu-submenu-arrow::before {
  color: #1d4ed8;
}
.ant-menu-submenu-arrow::after {
  color: #1d4ed8;
}
